// vi: ft=jsonc
{
  "$schema": "https://json.schemastore.org/swcrc",
  "jsc": {
    "baseUrl": "Sources/",
    "paths": {
      "@codify/*": ["./*"],
      "@commands/*": ["Commands/*"]
    },
    "minify": {
      "compress": {
        "unused": true
      },
      "mangle": true
    },
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true,
      "optimizer": {
        "simplify": true
      }
    },
    "target": "es2021",
    "keepClassNames": false,
    "loose": false
  },
  "module": {
    "type": "commonjs",
    "strict": true,
    "strictMode": true,
    "lazy": false,
    "noInterop": true
  },
  "sourceMaps": "inline"
}
